
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<p>姓名 : 林佳儀</p>
<p>學號 : 410828739</p>

@{
    String[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };

    <ol>
        <li><p>@fruits[0]</p></li>
        <li><p>@fruits[1]</p></li>
        <li><p>@fruits[2]</p></li>
        <li><p>@fruits[3]</p></li>
        <li><p>@fruits[4]</p></li>
    </ol>
